{% extends "base_generic.html" %}

{% block content %}
  {%if parents %}
    {%for item in parents%}/<a href="{{item.1}}">{{ item.0 }}</a>{%endfor%}
  {%endif%}

  <h1>{% if current_folder%}Posts in {{current_folder}}{%else%} Posts {%endif%}</h1>

  {% if children %}
    <h2>Sub-Folders</h2>
      {%for child in children%}
        <a class="btn btn-primary me-1 mb-2" href="/{{child.name}}" role="button">{{child.name}}</a>
      {%endfor%}
  {%endif%}

  {% if post_list %}
    {% if children %}
    <h2>Posts</h2>
    {%endif%}
    <div class="row" data-masonry='{"percentPosition": true }'>
      {% for post in post_list %}
        <div class="col-md-6">
          {% include 'common/mini_post.html' %}
        </div>
      {% endfor %}
      </div>
  {% else %}
    <p>There are no posts {% if current_folder%} in {{current_folder}}. {%else%}in the blog.{%endif%}</p>
  {% endif %}

  {% endblock %}